*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Build output
/pdf-renderer

# macOS
.DS_Store

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
/vendor/
/Godeps/
debug
__debug_bin
